[
    {
        "name": "FM_EMCS",
        "value": "%9A%89%89%90%3E%BC%FE%7Dw%1B%FD%EC%1E%24%F6%7BV%C5n0%07%87%F1B%A7%A7t%8A",
        "domain": ".frontendmasters.com",
        "hostOnly": false,
        "path": "/",
        "secure": false,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "expirationDate": 1581667747,
        "storeId": null
    },
    {
        "name": "edd_wp_session",
        "value": "7e6a8802e32fc7dd33a7fa62b5bcc5f5%7C%7C1579896544%7C%7C1579894744",
        "domain": ".frontendmasters.com",
        "hostOnly": false,
        "path": "/",
        "secure": false,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "expirationDate": 1579896547,
        "storeId": null
    },
    {
        "name": "intercom-session-w1ukcwje",
        "value": "Q1dsZTNvQmJLM1lsRFNTdDdkeUxma3dQcEtiTU5CSUluOEsvQjZDL0tJV3lkcFRRbmRKSzNjQ3FhMGpFUWdoRy0tN1FpYkRUQ01wTzhJN2tCd0g2YzAxdz09--f8de7331e8304697486b8d76b218ed0bbd06675f",
        "domain": ".frontendmasters.com",
        "hostOnly": false,
        "path": "/",
        "secure": false,
        "httpOnly": false,
        "sameSite": "lax",
        "session": false,
        "firstPartyDomain": "",
        "expirationDate": 1580458164,
        "storeId": null
    },
    {
        "name": "wordpress_logged_in_323a64690667409e18476e5932ed231e",
        "value": "vpul.chaudhary_gmail.com%7C1581062944%7CXiNwNnV3wsAHbjQJnXVgadpWtImCGeLnB4uCRSTs5Tj%7C6df3b3dfd4357cffb503fef6b419852d01d6adaa2c722bc4d08e6a1fe0347658",
        "domain": ".frontendmasters.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "expirationDate": 1581106146,
        "storeId": null
    }
]
